.container {
    height: 308px;
    background-color: var(--blanc);
    border: 1px solid black;
 }

p {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 24px;
    line-height: 30.72px;display: flex;
    justify-content: center;
    padding-top: 139px;
}
